body {
    margin-top: 80px;
}

nav.navbar img.brand {
    position: absolute;
    width: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 14px;
}

.nav.navbar-nav.navbar-right {
    margin-right: -1px;
}
