<template name="tagList">
    {{#if isReady}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Trends</h4>
            </div>
            <ul class="list-group">
                {{#if isEmpty}}
                    <li class="list-group-item">
                        <p>
                            No tags yet!
                        </p>
                    </li>
                {{else}}
                    {{#each tags}}
                        {{> tagShow}}
                    {{/each}}
                {{/if }}
            </ul>
        </div>
    {{/if}}
</template>
