<template name="tagList">
    {{#if ready}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Trends</h4>
            </div>
            <ul class="list-group">
                {{#if empty}}
                    {{> tagEmpty}}
                {{else}}
                    {{#each tags}}
                        {{> tagShow}}
                    {{/each}}
                {{/if }}
            </ul>
        </div>
    {{/if}}
</template>
