<template name="sidebar">
    <aside>
        {{> tagList}}
        <div id="suggestions">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Suggestions</h4>
                </div>
                <div class="panel-body">
                    {{#each suggestedUsers}}
                        <div class="media">
                            <a class="media-left" href="#">
                                {{> userAvatar hash=profile.avatarHash size=64}}
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    {{username}}
                                    <small>
                                        {{> userStatus status=status}}
                                    </small>
                                </h4>
                                {{> userFollowButton user=this}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="panel panel-default">
                <div class="panel-body">
                    © 2015 Gabbler
                </div>
            </div>
        </div>
    </aside>
</template>
