<template name="sidebar">
    <aside>
        {{> tagList}}
        <div id="suggestions">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <a class="media-left" href="#">
                            <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2ODc1IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4=" alt="...">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">A ramdom user</h4>
                            followed by another random user<br>
                            <a class="btn btn-default btn-sm btn-follow">
                                <i class="glyphicon glyphicon-user"></i>
                                Follow
                            </a>
                        </div>
                    </div>
                    <div class="media">
                        <a class="media-left" href="#">
                            <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2ODc1IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4=" alt="...">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">A ramdom user</h4>
                            followed by another random user<br>
                            <a class="btn btn-default btn-sm btn-follow">
                                <i class="glyphicon glyphicon-user"></i>
                                Follow
                            </a>
                        </div>
                    </div>
                    <div class="media">
                        <a class="media-left" href="#">
                            <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2ODc1IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4=" alt="...">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">A ramdom user</h4>
                            followed by another random user<br>
                            <a class="btn btn-default btn-sm btn-follow">
                                <i class="glyphicon glyphicon-user"></i>
                                Follow
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <a class="btn btn-default btn-xs">Find my contacts</a>
                    <a class="btn btn-default btn-xs">Popular accounts</a>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="panel panel-default">
                <div class="panel-body">
                    © 2015 Gabbler
                    <a href="#">About</a>
                    <a href="#">Help</a>
                    <a href="#">Conditions</a>
                    <a href="#">Confidentiality</a>
                    <a href="#">Cookies</a>
                    <a href="#">Advertisement's informations</a>
                    <a href="#">Brand</a>
                    <a href="#">Blog</a>
                    <a href="#">State of service</a>
                    <a href="#">Applications</a>
                    <a href="#">Jobs</a>
                    <a href="#">Advertisement</a>
                    <a href="#">Professionnals</a>
                    <a href="#">Medias</a>
                    <a href="#">Developers</a>
                </div>
            </div>
        </div>
    </aside>
</template>
