<template name="messageList">
    <div class="panel panel-default timeline">
        {{#if currentUser}}
            {{> messageForm}}
        {{/if }}

        <ul class="list-group">
            {{#if isEmpty}}
                <li class="list-group-item">
                    <p>
                        No messages yet!
                    </p>
                </li>
            {{else}}
                {{#each messages }}
                    {{> messageShow}}
                {{/each}}
            {{/if }}
        </ul>
    </div>
</template>
