<template name="messageShow">
    <li class="list-group-item">
        <div class="media">
            <a class="media-left" href="{{pathFor route='profile' username=username}}">
                {{> userAvatar hash=avatarHash}}
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="{{pathFor route='profile' username=username}}">{{username}}</a>
                    <a href="{{pathFor route='message' id=_id}}">
                        <small class="time-ago" title="{{date}}"></small>
                    </a>
                </h4>
                <p class="message-content">
                    {{{content}}}
                </p>
                <div class="message-actions">
                    <div class="btn-group" role="group">
                        <a href="{{pathFor route='message' id=_id}}#comments" class="btn btn-default btn-xs">
                            <i class="fa fa-comments"></i>
                        </a>
                        <a href="{{pathFor route='message' id=_id}}#comments" class="btn btn-default btn-xs">
                            {{comments}}
                        </a>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default btn-xs message-like {{liked}}">
                            <i class="fa fa-heart"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-xs message-likes">
                            {{likes}}
                        </button>
                    </div>
                    {{#if owned}}
                        <button type="button" class="btn btn-default btn-xs message-remove">
                            <i class="fa fa-trash"></i>
                        </button>
                    {{/if}}
                </div>
            </div>
        </div>
    </li>
</template>
