<template name="messageShow">
    <li class="list-group-item">
        <div class="media">
            <a class="media-left" href="{{pathFor route='profile' username=username}}">
                {{> userAvatar hash=avatarHash}}
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="{{pathFor route='profile' username=username}}">{{username}}</a>
                    <small class="time-ago" title="{{date}}"></small>
                </h4>
                <p class="message-content">
                    {{{content}}}
                </p>
            </div>
        </div>
    </li>
</template>
