<template name="userProfile">
    {{#with user}}
        <div class="clearfix">
            <div class="pull-right">
                {{> userAvatar hash=profile.avatarHash size=128}}
            </div>
            <h1>
                {{username}}
                {{> userFollowButton user=user}}
            </h1>
            <small>
                {{> userStatus status=status}}
                registered the {{formatDate createdAt}}
            </small>
        </div>
    {{/with}}

    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
            </li>
            <li role="presentation">
                <a href="#following" aria-controls="following" role="tab" data-toggle="tab">Following</a>
            </li>
            <li role="presentation">
                <a href="#followers" aria-controls="followers" role="tab" data-toggle="tab">Followers</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="messages">
                {{> messageList}}
            </div>
            <div role="tabpanel" class="tab-pane" id="following">
                {{> userList user=user type='following'}}
            </div>
            <div role="tabpanel" class="tab-pane" id="followers">
                {{> userList user=user type='followers'}}
            </div>
        </div>
    </div>
</template>
